name: Build APK Final
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    # Setup Java 17 (Wajib buat Android Gradle Plugin terbaru)
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    
    # Setup Android SDK
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
    
    # Build pakai Gradle bawaan Ubuntu (lebih stabil drpd wrapper generate-an)
    - name: Build Debug APK
      run: gradle assembleDebug --no-daemon --stacktrace

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: spamngl-APK
        path: app/build/outputs/apk/debug/app-debug.apk